exportPattern("^[[:alpha:]]+")

import(ggplot2)
import(grid)
import(gridExtra)
import(gtable)
import(plyr)
import(proto)
import(reshape2)
import(scales)
importFrom(MASS,cov.trob)
importFrom(MASS,kde2d)